pkgbase = spectacle-snappy-git
	pkgdesc = Spectacle without OCR, with a lightweight resident region-to-clipboard selector
	pkgver = 6.7.5.r1
	pkgrel = 1
	epoch = 1
	url = https://github.com/bitemyapp/spectacle
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-or-later
	makedepends = cmake
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = plasma-wayland-protocols
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = kconfig
	depends = kconfigwidgets
	depends = kcoreaddons
	depends = kcrash
	depends = kdbusaddons
	depends = kglobalaccel
	depends = kguiaddons
	depends = ki18n
	depends = kio
	depends = kirigami
	depends = kjobwidgets
	depends = knotifications
	depends = kpipewire
	depends = kquickimageeditor
	depends = kservice
	depends = kstatusnotifieritem
	depends = kwidgetsaddons
	depends = kwindowsystem
	depends = kxmlgui
	depends = layer-shell-qt
	depends = libxcb
	depends = opencv
	depends = prison
	depends = purpose
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-imageformats
	depends = qt6-multimedia
	depends = qt6-wayland
	depends = wayland
	depends = xcb-util
	depends = xcb-util-cursor
	depends = xcb-util-image
	provides = spectacle=1:6.7.5
	provides = spectacle-fast
	conflicts = spectacle
	conflicts = spectacle-fast-git
	source = spectacle::git+https://github.com/bitemyapp/spectacle.git#branch=fast-region
	sha256sums = SKIP

pkgname = spectacle-snappy-git
